/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
	background-color: #0e101d;
	font-family: "lato", sans-serif;
	color: #e1e1e3;
}

body {
	background-color: #0e101d;
	font-family: "lato", sans-serif;
}

div {
	background-color: transparent;
}

h1 {
	background-color: transparent;
	font-weight: bold;
	font-size: 3.2em;
	color: #e1e1e3;
}

h2 {
	background-color: transparent;
	font-weight: bold;
	font-size: 3em;
	color: #e1e1e3;
}

p {
	background-color: transparent;
	font-weight: normal;
	font-size: 2.2em;
	color: #e1e1e3;
}

hr {
	color: #e1e1e3;
	background-color: #e1e1e3;
	height: 2px;
}

.jumbotron {
	background-color: transparent;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 0px;
}

.jumbotron h1 {
	color: #e1e1e3;
	text-align: left;
}

.jumbotron p {
	font-weight: medium;
	font-size: 2.2em;
}

.row {
	margin-top: 20px;
	margin-bottom: 20px;
}

.navbar {
	background-image: none;
	background-color: transparent;
	border: none;
}

.textbutton {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}

.navbar-toggle {
	float: left;
	border: none;
}

.navbar-inverse {
	border: none;
}

.navbar-fixed-top {
	border: none;
}

.navbutton {
	padding-left: 0;
	padding-right: 0;
}

.navtext {
	text-align: center;
}

.centerimage {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.menubar {
	margin: 0 0;
}

#footertext {
	font-size: 1em;
}

#titleright {
	text-align: right;
}